.TodoItem {
    margin-bottom: 10px;
    
    &__parent {
        margin-bottom: 5px;
        padding: 5px;
        padding-left: 10px;
        border-radius: 25px;
        border-bottom: #dedede 1px solid;
    }
    
    &__child {
        margin-bottom: 10px;
    }
    
    &__delete {
        border-bottom: #ff9393 1px solid;
        cursor: pointer;
    }
}