.App {
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: minmax(100px, 25%) 1fr;

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 80vh;
        margin-right: 15px;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 80vh;
        
        .Todo {
            
            &__text {
                
                &_done {
                    text-decoration: line-through;
                }
            }
        }
    }
}